<link rel="stylesheet" href="./assets/css/page/find.css">
<div class="banner">
	<img src="./assets/images/u=1986768502,446011984&fm=23&gp=0.jpg" width="100%">
</div>

<div class="menu">
	<div class="item">
		<i class="iconfont icon-homepage"></i><br>
		<p>活动</p>
	</div>
	<div class="item">
		<i class="iconfont icon-service"></i><br>
		<p>晒奖</p>
	</div>
	<div class="item">
		<i class="iconfont icon-share"></i><br>
		<p>攻略</p>
	</div>
	<div class="item">
		<i class="iconfont icon-mine"></i><br>
		<p>公告</p>
	</div>
</div>

<div class="list">
	<div class="item">
		<h1>【活动】每升直降300元</h1>
		<div class="images">
			<div class="image">
				<img src="./assets/images/u=1986768502,446011984&fm=23&gp=0.jpg" alt="">
			</div>
			<div class="image">
				<img src="./assets/images/u=1986768502,446011984&fm=23&gp=0.jpg" alt="">
			</div>
			<div class="image">
				<img src="./assets/images/u=1986768502,446011984&fm=23&gp=0.jpg" alt="">
			</div>
		</div>
		<p>因不将就的理念,以及精致的工艺和手感在业内拥有不错口碑的一加手机也迎来大幅降价,从之前的1999.99直降300元,降至1699.99元,让这款昔日的“旗舰杀手”又重新...</p>
	</div>
	<div class="item">
		<h1>测试一个没有照片的</h1>
		<p>测试一个没有照片的</p>
	</div>
	<div class="item">
		<h1>感谢平台，今天中了五百万</h1>
		<div class="images">
			<div class="image">
				<img src="./assets/images/u=1986768502,446011984&fm=23&gp=0.jpg" alt="">
			</div>
			<div class="image">
				<img src="./assets/images/u=1986768502,446011984&fm=23&gp=0.jpg" alt="">
			</div>
			<div class="image">
				<img src="./assets/images/u=1986768502,446011984&fm=23&gp=0.jpg" alt="">
			</div>
		</div>
		<p>测试一个朋友圈文章发布测试一个朋友圈文章发布测试一个朋友圈文章发布测试一个朋友圈文章发布测试一个朋友圈文章发布测试一个朋友圈文章发布测试一个朋友圈文章发布测试一个朋友圈文章发布测试一个朋友圈文章发布测试一个朋友圈文章发布</p>
	</div>


</div>

