<banner data='[
	{"img" : "http://www.baidu.com" , "src" : "http://www.baidu.com" , "title" : "标题"},
	{"img" : "http://www.baidu.com" , "src" : "http://www.baidu.com" , "title" : "标题"},
	{"img" : "http://www.baidu.com" , "src" : "http://www.baidu.com" , "title" : "标题"},
	{"img" : "http://www.baidu.com" , "src" : "http://www.baidu.com" , "title" : "标题"},
]'/>
<link rel="stylesheet" href="./assets/css/page/home.css">
<div class="banner">
	<img src="http://pic.qiantucdn.com/58pic/16/91/44/80Y58PICvke_1024.jpg!/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center" width="100%">
	<div class="notice">
		<span>恭喜会员小李***的ns中奖双色球二等奖奖金2亿元</span>
	</div>
</div>

<div class="lottery-list">
	<div class="item">
		
	</div>
	<div class="item">
		
	</div>
	<div class="item">
		
	</div>
	<div class="item">
		
	</div>
	<div class="item">
		
	</div>
	<div class="item">
		
	</div>
</div>


<div class="trend-list">
	<div class="item">
		<h3>北京十一选三 <span>第 20170508-102 期</span></h3> <a href="" class="more fr">更多</a>
		<div class="number">
			<span component='ball'>1</span>
			<span component='ball'>5</span>
			<span component='ball'>3</span>
			<span component='ball'>5</span>
			<span component='ball'>4</span>
			<span component='ball'>9</span>
			<span component='ball'>1</span>
			<span component='ball'>5</span>
			<span component='ball'>5</span>
		</div>
		<button class="btn noBorder fr">立即投注</button>
	</div>
	<div class="item">
		<h3>重庆时时彩 <span>第 20170508-102 期</span></h3> <a href="" class="more fr">更多</a>
		<div class="number">
			<span component='ball'>1</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
		</div>
		<button class="btn noBorder fr">立即投注</button>
	</div>
	<div class="item">
		<h3>浙江五五乐 <span>第 20170508-102 期</span> </h3> <a href="" class="more fr">更多</a>
		<div class="number">
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
		</div>
		<button class="btn noBorder fr">立即投注</button>
	</div>
	<div class="item">
		<h3>浙江五五乐 <span>第 20170508-102 期</span> </h3> <a href="" class="more fr">更多</a>
		<div class="number">
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
		</div>
		<button class="btn noBorder fr">立即投注</button>
	</div>
	<div class="item">
		<h3>浙江五五乐 <span>第 20170508-102 期</span> </h3> <a href="" class="more fr">更多</a>
		<div class="number">
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
			<span component='ball'>0</span>
		</div>
		<button class="btn noBorder fr">立即投注</button>
	</div>

</div>