<link rel="stylesheet" href="./assets/css/page/lottery_item.css">
<div class="top-header">
	<span class="label danger">定位胆_定位胆</span>
	<span class="down"><i class="iconfont icon-service"></i></span>
</div>
<div class="number">
	<span>当前期数：20170517-47</span>
	<span class="time"><i class="iconfont icon-service"></i> 00:00</span>
</div>
<div class="lottery_type">
	<div class="item">
		<span><b>五星直选</b></span>
		<span>五星复试</span>
		<span>五星单试</span>
	</div>
	<div class="item">
		<span><b>四星直选</b></span>
		<span>前四单式</span>
		<span>后四复式</span>
		<span>后四单式</span>
	</div>
	<div class="item">
		<span><b>三星直选</b></span>
		<span>前三复式</span>
		<span>前三单式</span>
		<span>中三复式</span>
		<span>中三单式</span>
		<span>后三复式</span>
		<span>后三单式</span>
		<span>后三组三</span>
		<span>后三组六</span>
	</div>
	<div class="item">
		<span><b>四星直选</b></span>
		<span>前四单式</span>
		<span>后四复式</span>
		<span>后四单式</span>
	</div>
	<div class="item">
		<span><b>三星直选</b></span>
		<span>前三复式</span>
		<span>前三单式</span>
		<span>中三复式</span>
		<span>中三单式</span>
		<span>后三复式</span>
		<span>后三单式</span>
		<span>后三组三</span>
		<span>后三组六</span>
	</div>	
	<div class="item">
		<span><b>四星直选</b></span>
		<span>前四单式</span>
		<span>后四复式</span>
		<span>后四单式</span>
	</div>
	<div class="item">
		<span><b>三星直选</b></span>
		<span>前三复式</span>
		<span>前三单式</span>
		<span>中三复式</span>
		<span>中三单式</span>
		<span>后三复式</span>
		<span>后三单式</span>
		<span>后三组三</span>
		<span>后三组六</span>
	</div>	
</div>


<div class="column">
	<div class="position">
		<div class="title">
			<h2>万</h2>
			<div class="type">
				<span>大</span>
				<span>小</span>
				<span>全</span>
				<span>单</span>
				<span>双</span>
				<span>清</span>
			</div>
		</div>
		<div class="content">
			<div class="sum">1</div>
			<div class="sum">2</div>
			<div class="sum">3</div>
			<div class="sum">4</div>
			<div class="sum">5</div>
			<div class="sum">6</div>
			<div class="sum">7</div>
			<div class="sum">8</div>
			<div class="sum">9</div>
			<div class="sum">0</div>
		</div>
	</div>
	<div class="position">
		<div class="title">
			<h2>千</h2>
			<div class="type">
				<span>大</span>
				<span>小</span>
				<span>全</span>
				<span>单</span>
				<span>双</span>
				<span>清</span>
			</div>
		</div>
		<div class="content">
			<div class="sum">1</div>
			<div class="sum">2</div>
			<div class="sum">3</div>
			<div class="sum">4</div>
			<div class="sum">5</div>
			<div class="sum">6</div>
			<div class="sum">7</div>
			<div class="sum">8</div>
			<div class="sum">9</div>
			<div class="sum">0</div>
		</div>
	</div>
	<div class="position">
		<div class="title">
			<h2>百</h2>
			<div class="type">
				<span>大</span>
				<span>小</span>
				<span>全</span>
				<span>单</span>
				<span>双</span>
				<span>清</span>
			</div>
		</div>
		<div class="content">
			<div class="sum">1</div>
			<div class="sum">2</div>
			<div class="sum">3</div>
			<div class="sum">4</div>
			<div class="sum">5</div>
			<div class="sum">6</div>
			<div class="sum">7</div>
			<div class="sum">8</div>
			<div class="sum">9</div>
			<div class="sum">0</div>
		</div>
	</div>
	<div class="position">
		<div class="title">
			<h2>十</h2>
			<div class="type">
				<span>大</span>
				<span>小</span>
				<span>全</span>
				<span>单</span>
				<span>双</span>
				<span>清</span>
			</div>
		</div>
		<div class="content">
			<div class="sum">1</div>
			<div class="sum">2</div>
			<div class="sum">3</div>
			<div class="sum">4</div>
			<div class="sum">5</div>
			<div class="sum">6</div>
			<div class="sum">7</div>
			<div class="sum">8</div>
			<div class="sum">9</div>
			<div class="sum">0</div>
		</div>
	</div>
	<div class="position">
		<div class="title">
			<h2>个</h2>
			<div class="type">
				<span>大</span>
				<span>小</span>
				<span>全</span>
				<span>单</span>
				<span>双</span>
				<span>清</span>
			</div>
		</div>
		<div class="content">
			<div class="sum">1</div>
			<div class="sum">2</div>
			<div class="sum">3</div>
			<div class="sum">4</div>
			<div class="sum">5</div>
			<div class="sum">6</div>
			<div class="sum">7</div>
			<div class="sum">8</div>
			<div class="sum">9</div>
			<div class="sum">0</div>
		</div>
	</div>



</div>


<div class="reslut">
	<div class="left" style="float: left;">
		已选0注 共0.00元 <br>
		<span style="font-size: 12px;">321,321,123,132,123</span>
	</div>
	<div class="right fr" style="float: right;">
		<button class="btn danger"><i class="iconfont icon-service"></i> 号码篮</button>
	</div>
</div>
<div class="footer"></div>