<link rel="stylesheet" type="text/css" href="./assets/css/page/me.css">

<div class="list" style="margin-bottom: 0;">
	<div class="portrait">
		<img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3663257436,3766300298&fm=111&gp=0.jpg" alt="">
		<h2>test</h2>
	</div>
</div>

<div class="list capital">
	<div class="item">
		<i class="iconfont icon-tixian" style="top:0px;"></i>
		充值
	</div>
	<div class="item">
		<i class="iconfont icon-yinghangka" style="top:0px;"></i>
		提现
	</div>
	<div class="item">
		<i class="iconfont icon-coupons"></i>
		明细
	</div>
</div>

<div class="list menu">
	<div class="item">
		<i class="iconfont icon-yue"></i>
		账户余额
		<span class="fr">￥{balance}</span>
	</div>

	<div class="item">
		<i class="iconfont icon-liwu1"></i>
		积分兑换
	</div>
	<div class="item">
		<i class="iconfont icon-yinghangka"></i>
		银行绑定
	</div>
	<div class="item">
		<i class="iconfont icon-coupons" style="font-size: 16px!important;margin-top: 3px;"></i>
		元角模式
	</div>
</div>
<div class="list menu">
	<div class="item">
		<i class="iconfont icon-yue"></i>
		消息通知
	</div>
</div>
<div class="list menu">
	<div class="item">
		<i class="iconfont icon-yue"></i>
		订单信息
	</div>
	<div class="item">
		<i class="iconfont icon-yue"></i>
		收货地址
	</div>
	<div class="item">
		<i class="iconfont icon-yue"></i>
		我的优惠券
	</div>
</div>
<div class="list menu">
	<div class="item">
		<i class="iconfont icon-mimaxiugai"></i>
		修改密码
	</div>
	<div class="item">
		<i class="iconfont icon-1"></i>
		设置安全密码
	</div>
</div>
<div class="list menu">
	<div class="item">
		<i class="iconfont icon-qiehuanyonghuxian"></i>
		切换账户
	</div>
	<div class="item">
		<i class="iconfont icon-tuichu"></i>
		退出登录
	</div>

</div>
